<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medical Records | Capizonda Dental Clinic</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo_lightMode.png') }}">
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index-s.css') }}">
  <style>

  </style>
</head>
<body>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div id="patient-flashes-data" 
         data-flashes="{{ messages | tojson }}"
         style="display: none;"></div>
    {% endif %}
{% endwith %}

<div class="toast-container" id="toast-container"></div>

<script src="{{ url_for('static', filename='js/patient-toast.js') }}?v=2"></script>

{% set active_page = 'records' %}
{% include '_patient_header.html' %}

  <h1> RECORDS </h1>


</body>
</html>